:root {
  --main-bg-color: #0d1117;
  --main-text-color: #fcfcfc;
  --main-font-family: "Roboto", sans-serif;
  --blue-color-1: #1b1e24;
  --blue-color-2: #1b2330;
  --blue-color-3: #0473ff;
  --max-width: 970px;
  --step--2: clamp(0.8681rem, 0.864rem + 0.0207vw, 0.88rem);
  --step--1: clamp(1.0419rem, 1.0217rem + 0.1011vw, 1.1rem);
  --step-0: clamp(1.25rem, 1.2065rem + 0.2174vw, 1.375rem);
  --step-1: clamp(1.5rem, 1.4239rem + 0.3804vw, 1.7188rem);
  --step-2: clamp(1.8rem, 1.6787rem + 0.6065vw, 2.1488rem);
  --step-3: clamp(2.16rem, 1.9772rem + 0.9141vw, 2.6856rem);
  --step-4: clamp(2.5919rem, 2.3258rem + 1.3304vw, 3.3569rem);
  --step-5: clamp(3.1106rem, 2.733rem + 1.888vw, 4.1963rem);
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 100ms !important;
    transition-duration: 100ms !important;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: baseline;
  -webkit-tap-highlight-color: transparent;
}

img {
  display: block;
  max-width: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center center;
  object-position: center center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

a {
  display: block;
  font-size: inherit;
  color: inherit;
  text-decoration: none;
}

p a {
  display: inline;
}

li {
  list-style-type: none;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
p,
span,
a {
  font-size: 1em;
  font-weight: inherit;
  font-style: inherit;
  color: inherit;
  text-decoration: none;
}

svg {
  display: block;
  width: 100%;
  fill: currentColor;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  min-height: 100dvh;
  padding-bottom: 5rem;
  font-size: 100%;
  font-family: var(--main-font-family);
  color: var(--main-text-color);
  background-color: var(--main-bg-color);
}

body::-webkit-scrollbar {
  width: 7px;
  height: 7px;
  background-color: var(--blue-color-1);
}

body::-webkit-scrollbar-thumb {
  background-color: #717171;
  border-radius: 0.5rem;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #717171 var(--blue-color-1);
}

.header {
  position: relative;
  width: 100%;
  margin-inline: auto;
  padding: 1.25rem 1rem;
  background-color: var(--blue-color-1);
}
.header__container {
  display: flex;
  justify-content: flex-end;
  max-width: 1700px;
}

.nav-menu {
  width: 100%;
  max-width: 21rem;
}
.nav-menu__ul {
  display: flex;
  width: 100%;
  justify-content: right;
}
.nav-menu__li {
  padding: 0.23rem 0.7rem;
  font-size: calc(var(--step--1) + 1.5px);
  border-radius: 1rem;
}
.nav-menu__a {
  opacity: 1;
  cursor: pointer;
  transition: opacity 200ms linear;
}
.nav-menu__a:hover {
  opacity: 0.7;
}

.hero-section {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 65vh;
  margin-bottom: 2.5rem;
  background-color: var(--blue-color-1);
}
.hero-section__div {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: normal;
  text-align: center;
}
.hero-section__title {
  position: relative;
  font-size: clamp(2.5em, 9vw, 5em);
}
.hero-section__p {
  font-size: clamp(1.1em, 3.5vw, 2em);
  margin-bottom: 0.5em;
}
.hero-section__icons {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: auto;
  gap: clamp(0.5rem, 2vw, 1rem);
}
.hero-section__icons-img {
  width: clamp(3.8rem, 10vw, 4.8rem);
  height: auto;
  object-fit: contain;
  object-position: center center;
}

.sections-wrapper {
  display: block;
  padding: clamp(0rem, -0.9846rem + 4.9231vw, 2rem);
  padding-top: 0;
  padding-bottom: 0;
}
.sections {
  width: 100%;
  max-width: var(--max-width);
  padding: 1rem;
  margin: 0 auto 3rem;
}
.sections__title {
  font-weight: 400;
  font-size: var(--step-1);
  margin-bottom: 1em;
}
.sections__description {
  margin-bottom: 1.2rem;
  font-size: var(--step--1);
}

.modal-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 995;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 300ms ease;
}
.modal-container--is-active {
  opacity: 1;
}

.modal {
  position: relative;
  width: clamp(16.875rem, 15.3365rem + 7.6923vw, 20rem);
  padding: 1.5rem;
  text-align: center;
  background-color: var(--blue-color-1);
  border-radius: 1rem;
}
.modal__header {
  display: inline-block;
  margin-bottom: 1rem;
}
.modal__title {
  display: inline-block;
  font-size: 1.4rem;
  font-size: var(--step-0);
  text-transform: capitalize;
  text-align: center;
}
.modal__opts {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  max-width: 255px;
  width: 100%;
  margin: 1.7rem auto 0;
}

.opt {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.opt:hover .opt__icon {
  top: -0.1rem;
}
.opt__icon-contain {
  position: relative;
  width: clamp(3.5rem, 3.0077rem + 2.4615vw, 4.5rem);
  padding: clamp(1rem, 0.9015rem + 0.4923vw, 1.2rem);
  margin-bottom: 0.5rem;
  color: #000;
  background-color: var(--main-text-color);
  border-radius: 50%;
  cursor: pointer;
}
.opt__icon {
  position: relative;
  top: 0;
  transition: top 300ms ease;
}
.opt__label {
  font-size: var(--step--2);
  cursor: pointer;
  user-select: none;
}

.list-icons {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  flex-flow: row wrap;
  gap: 1rem 1rem;
  width: 100%;
}
.list-icons__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.list-icons__icon {
  position: relative;
  width: 3.75rem;
  height: auto;
  object-fit: contain;
}
.list-icons__label {
  margin-top: 0.5rem;
  font-size: var(--step--2);
  opacity: 0.8;
}

.btn {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: clamp(8rem, 30%, 8.5rem);
  padding: 0.55rem 0.5rem;
  color: #000;
  background-color: var(--main-text-color);
  border: 0;
  border-radius: 0.8rem;
  outline: 0;
  transition: opacity 300ms ease;
}
.btn--small-card {
  position: absolute;
  right: 0;
  bottom: -0.9rem;
  left: 0;
  margin: auto;
  padding: 0.25rem 0.4rem;
  border-radius: 1rem;
}
.btn--cv {
  margin: 4rem auto 0;
  font-size: var(step--1);
  color: var(--main-text-color);
  background-color: transparent;
  border-left: 1px solid var(--blue-color-3);
  border-bottom: 1px solid var(--blue-color-3);
  border-radius: 0.6rem;
}
.btn:hover {
  cursor: pointer;
  opacity: 0.8;
}
.btn--small-card:hover {
  opacity: 1;
}
.btn__text {
  font-size: clamp(0.95rem, 0.9254rem + 0.1231vw, 1rem);
}
.btn__icon {
  position: relative;
  left: 0;
  width: 1.5rem;
  margin-top: 1px;
  transition: left 400ms ease;
}
.btn:hover .btn__icon {
  left: 5px;
}

.small-cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  row-gap: 3.2rem;
  column-gap: clamp(1rem, 0.5077rem + 2.4615vw, 2rem);
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}
.small-card {
  position: relative;
  min-width: 10rem;
  background-color: var(--blue-color-2);
  text-align: center;
  cursor: pointer;
}
.small-card__img-container {
  aspect-ratio: 16/8;
  margin-bottom: 0.5rem;
  border-radius: inherit;
  overflow: hidden;
}
.small-card__img {
  width: 100%;
  height: 100%;
  transition: transform 500ms ease;
}
.small-card__img:hover {
  transform: scale(1.05);
}
.small-card__title {
  margin-top: 1rem;
  margin-bottom: 2rem;
  font-size: var(--step--1);
}
.small-card:hover .btn__icon {
  left: 5px;
}

.arrow-down {
  position: absolute;
  right: 0;
  bottom: -1.7rem;
  left: 0;
  width: 43px;
  height: 80px;
  margin: auto;
  opacity: 0;
  transition: opacity 700ms ease;
}
.arrow-down--is-active {
  transition: opacity 10000ms ease;
  opacity: 1;
}
.arrow-down path {
  stroke: #ffffff;
  fill: transparent;
  stroke-width: 3px;
  animation: arrow 2s infinite;
  animation-delay: -0.5s;
  -webkit-animation: arrow 2s infinite;
  -webkit-animation-delay: -0.5s;
}

@keyframes arrow {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  80% {
    opacity: 1;
    transform: translateY(50px);
  }
  100% {
    opacity: 0;
    transform: translateY(50px);
  }
}

.blur {
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px);
}

.hidden {
  display: none;
}

.mt-5 {
  margin-top: 5rem;
}

@media (min-width: 480px) {
  .sections {
    scroll-margin-top: 4rem;
  }
}

@media (min-width: 576px) {
  .card {
    grid-template-columns: 45% 55%;
    height: clamp(225px, 35vh, 260px);
  }
  .card__info-contain {
    display: flex;
    flex-direction: column;
    padding: 1rem 1rem 1rem 0;
  }
}

@media (min-width: 768px) {
  .hero-section__p {
    margin-top: -0.5rem;
  }

  .card {
    grid-template-columns: 35% 65%;
    height: clamp(225px, 35vh, 260px);
  }
  .card__info-contain {
    display: flex;
    flex-direction: column;
    padding: 1rem 3rem 1rem 0;
  }
}
